<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gazilla.mihail.gazillaj">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dragon1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dragon1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".ui.InitializationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.progress.ProgressActivity" />
        <activity android:name=".ui.detail.present.DetailPresentActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.registration.RegAndAutorizActivity" />
        <activity android:name=".ui.reserve.ReserveActivity" />
        <activity android:name=".ui.account.AccountActivity" />
        <activity android:name=".ui.main.stock.StockDragonway.DragonwayActivity" />
        <activity android:name=".ui.main.stock.StockSmokerpass.SmokerpassActivity" />
        <activity android:name=".ui.main.stock.StockHoax.StockHoaxActivity" />
        <activity android:name=".ui.main.stock.StockNewFriend.StockNewFriendActivity"></activity>
    </application>

</manifest>