<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gazilla.mihail.gazillaj">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dragon1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dragon1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".ui.InitializationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detail.present.DetailPresentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.registration.RegAndAutorizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reserve.ReserveActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.account.AccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.stock.StockDragonway.DragonwayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.stock.StockSmokerpass.SmokerpassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.stock.StockHoax.StockHoaxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.stock.StockNewFriend.StockNewFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.stock.StockKitchen.StockKitchenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.stock.StockPlayStation.StoakPlayStationActivity"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".ui.main.stock.StockMusic.StockMusicActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>