<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gazilla.mihail.gazillaj">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />

    <application
        android:name="com.gazilla.mihail.gazillaj.helps.App"
        android:allowBackup="true"
        android:icon="@drawable/dragon1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dragon1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.gazilla.mihail.gazillaj.activites.Proms.PromoEveryDayActivity"></activity>
        <activity android:name="com.gazilla.mihail.gazillaj.activites.Proms.PromoTouchTimeActivity" />
        <activity android:name="com.gazilla.mihail.gazillaj.activites.FirstTipsApp.FirstTipsActivity" />
        <activity android:name="com.gazilla.mihail.gazillaj.activites.Proms.PromoBaseActivity" />
        <activity android:name="com.gazilla.mihail.gazillaj.activites.MainActivity" />
        <activity
            android:name="com.gazilla.mihail.gazillaj.activites.StartAppInitializationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gazilla.mihail.gazillaj.activites.AccountActivity" />
        <activity android:name="com.gazilla.mihail.gazillaj.activites.ProductActivity" />
        <activity android:name="com.gazilla.mihail.gazillaj.activites.ReserveActivity" />
        <activity android:name="com.gazilla.mihail.gazillaj.activites.registrationAndAuthorization.RegAndAuthorizActivity" />
        <activity android:name="com.gazilla.mihail.gazillaj.activites.Proms.PromoNewFriendActivity" />
        <activity android:name="com.gazilla.mihail.gazillaj.activites.Proms.PromoHoaxActivity" />
        <activity android:name="com.gazilla.mihail.gazillaj.activites.Proms.PromoSmokerpassActivity" />
        <activity android:name="com.gazilla.mihail.gazillaj.activites.Proms.PromoKitchenActivity" />
        <activity android:name="com.gazilla.mihail.gazillaj.activites.Proms.PromoPlayStationActivity" />
        <activity android:name="com.gazilla.mihail.gazillaj.activites.Proms.PromoCocktailActivity" />
    </application>

</manifest>